<!DOCTYPE html>
<html>
  <head>
    <title>My Universal ReactJS Application</title>
  </head>

  <body>
    <div id="app"><%- markup %></div>
    <script src="http://localhost:3001/webpack/universal-react-build.js"></script>
  </body>
</html>
